.error-content {
    display: grid !important;
    margin-bottom: 30%;
}

.error-title {
    margin-left: 15% !important;
    margin-bottom: 15px !important;
}

.invisible-elem {
    display: none !important;
}

.spotify-controls {
    margin-left: 10% !important;
}

#spotify-icon {
    max-width: 43px;
    max-height: 43px;
    margin-right: 220px;
}
