{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="public/favicon.ico">

    <title>Spotilizer</title>

    <!-- Main CSS -->
    <link href="public/css/main.css" rel="stylesheet">

    <!-- Libs -->
    <link href="public/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/libs/toastr/build/toastr.min.css" rel="stylesheet"/>
    
    <!-- Custom styles for this template -->
    <link href="public/css/narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <script src="public/libs/jquery/dist/jquery.min.js"></script>
    <script src="public/libs/toastr/build/toastr.min.js"></script>
    <script src="public/js/main.js"></script>

    {{if .Username }}
    <script>
      window.username = '{{.Username}}';
      console.log(' > layout script, received username: ' + window.username);
    </script>
    {{end}}

    {{if .Message}}
    <script>
      toastr.success('{{.Message}}');
    </script>
    {{end}}

    <div class="container">
      {{template "navbar" .}}

      {{template "content" .}}

      {{template "footer" .}}
    </div>

    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="public/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
{{end}}