{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="public/favicon.ico">

    <title>Spotilizer</title>

    <!-- Main CSS -->
    <link href="public/css/main.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="public/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="public/css/narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="public/js/main.js"></script>

    <div class="container">
      {{template "navbar" .}}

      {{template "content" .}}

      {{template "footer" .}}
    </div>

    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="public/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
{{end}}