{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Spotilizer</title>

    <!-- Bootstrap core CSS -->
    <link href="public/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="public/css/narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      {{template "navbar" .}}

      {{template "content" .}}

      {{template "footer" .}}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="public/js/main.js"></script>
    <script src="public/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
{{end}}